:root {
  --stat-yellow-green: #cfef5f;
  --stat-yellow: #ffde00;
  --stat-orange: #ff9000;
  --stat-red: #ff4444;
  --stat-green: #45b86b;
  --stat-blue: #3a85ff;
}

.evo-sprite {
  width: 96px;
  image-rendering: pixelated;
}

.evo-current {
  outline: 3px solid var(--aui-focus-ring-color);
}
