.mobile {
  display: none;
}
.desktop {
  display: flex;
}
.page-width {
  width: 60%;
}
.type-section {
  width: min(450px, 100%);
}
@media only screen and (max-width: 820px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .page-width,
  .type-section {
    width: 100%;
  }
}
