@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --ajui-link-color: #d10711;
}

html {
  scroll-behavior: smooth;
}

body * {
  /* Handles scrolling to octothorpes */
  scroll-margin-top: 80px;
}

body {
  font-family: "Funnel Sans", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", sans-serif;
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: #f4f4ff;
}

p {
  line-height: 1.5;
}

.page-title-text {
  font-size: calc(28px + 1vw);
}

.home-title-text {
  font-size: calc(2rem + 5vw);
  font-weight: 800;
}

.home-description {
  font-weight: 500;
  font-size: 1.25rem;
}

.bordering {
  border: 2px solid red;
}
