:root {
  --breakpoint: 768px;
  --ajui-link-color: #d10711;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: #f4f4ff;
}

.page-title-text {
  font-size: calc(2.5rem + 1vw);
  font-weight: 700;
}

.bordering {
  border: 2px solid green;
}
